.color1 {
  background: #0891EB;
}

.color2 {
  background: #FF4164;
}

.color3 {
  background: #9BD107;
}

.color4 {
  background: #FFB90B;
}

.color5 {
  background: #A446DB;
}

.color6 {
  background: #ffffff;
}

.color7 {
  background: #ccc;
}

.color8 {
  background: #666666;
}

.color9 {
  background: #232323;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
  color: #666666;
}

h3 {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.6;
  color: #0891EB;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  color: #232323;
}

a {
  color: #0891EB;
  transition: .3s;
  cursor: pointer;
}

a:active, a:hover, a:visited {
  color: #0891EB;
}

.sg-wrapper:after, .main-wrapper:after, .sg-section:after {
  content: "";
  display: table;
  clear: both;
}

.main-wrapper {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}

.sg-header {
  padding: 1.5rem;
  background: white;
  border-bottom: 2px solid #f7f7f7;
}

.sg-logo {
  font: 300 1.6rem/1.1 Helvetica;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  color: #ccc;
  transition: .4s;
}

.sg-logo:hover {
  color: #0891EB;
}

.sg-main {
  float: right;
  background: #f7f7f7;
  width: 100%;
}

.sg-main-header {
  padding: 9.5rem 0 2.5rem;
  background: #0891EB;
  margin-bottom: 4rem;
  margin-top: 7rem;
}

.sg-main-header h2 {
  color: white;
  letter-spacing: .05rem;
  font: 300 3rem/1 Helvetica;
}

.sg-main-header.first {
  margin-top: 0;
}

.sg-section {
  margin-bottom: 4rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.sg-section.last {
  border: none;
}

.sg-color {
  height: 150px;
  margin: 1.5rem 0 1rem;
}

.sg-colorName {
  margin: 0;
}

.h1 {
  font: 300 3rem/1 Helvetica;
  padding-bottom: 10px;
}

.h2 {
  font: 300 1.75rem/1.25 Helvetica;
}

.h3 {
  font: bold 1.1rem/3 Helvetica;
  color: #666666;
}

.h4 {
  font: bold .9rem/1 Helvetica;
  text-transform: uppercase;
}

.h4.light {
  color: #666666;
}

.large-body {
  font: 300 1.3rem/1.4 Helvetica;
}

.small-body {
  font: 300 .8rem/1.4 Helvetica;
}

blockquote {
  margin: 0 0 1rem 2rem;
  padding: 0 2rem;
  font: 300 1.3rem/1.4 Helvetica;
  border-left: 3px solid #dedede;
  color: #232323;
}

ol, ul {
  font: 300 1rem/1.6 Helvetica;
  margin-left: 0;
  padding-left: 20px;
}

ol li, ul li {
  margin-left: 0;
  padding-left: 0;
}

table {
  width: 100%;
  max-width: 600px;
  text-align: left;
  font: 300 1rem/2.5 Helvetica;
}

table thead {
  border-bottom: 3px solid #e6e6e6;
}

table tr {
  border-bottom: 1px solid #e6e6e6;
}

table caption {
  text-align: left;
  font: 300 .9rem/2.5 Helvetica;
  color: #999999;
}

a[class^="button"] {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.settingBtn {
  float: right;
  margin-bottom: 10px;
  padding: 1.5rem;
}

.settingBtn a {
  text-decoration: none;
}

.button-sm {
  cursor: pointer;
  padding: .75rem 1.5rem;
  text-align: center;
  color: #FF4164;
  border-radius: 5px;
  border: 2px solid #FF4164;
  font: 400 .8rem/1 Helvetica;
  text-transform: uppercase;
}

.button-sm:hover {
  background-color: #FF4164;
  color: white;
}

.button-md {
  cursor: pointer;
  padding: 1rem 2rem;
  text-align: center;
  color: #FF4164;
  border-radius: 5px;
  border: 2px solid #FF4164;
  font: 400 1rem/1 Helvetica;
}

.button-md:hover {
  background-color: #FF4164;
  color: white;
}

.button-lg {
  cursor: pointer;
  padding: 1rem 3rem;
  text-align: center;
  color: #FF4164;
  border-radius: 5px;
  border: 2px solid #FF4164;
  font: 400 1.25rem/1 Helvetica;
}

.button-lg:hover {
  background-color: #FF4164;
  color: white;
}

img {
  height: 200px;
  width: 200px;
  margin-right: 2rem;
}

img.sg-avatar {
  border-radius: 50%;
}

div[class^="notification"] {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.notification {
  background: #ffe8ae;
  border-left: 5px solid #FFB90B;
}

.notification-success {
  background: #e6fca8;
  border-left: 5px solid #9BD107;
}

.notification-failure {
  background: #ffd6d6;
  border-left: 5px solid red;
}

.input {
  padding: 10px;
  font: 300 1rem/1.4 Helvetica;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 400px;
  margin-bottom: 1rem;
}

.tip {
  position: relative;
}

.tip:hover:after {
  content: attr(data-tip);
  color: #fff;
  font: 300 .8rem/1.4 Helvetica;
  text-align: left;
  background-color: #666666;
  border-radius: 0.3334rem;
  padding: 0.6667rem;
  width: 16.5rem;
  opacity: 0.9;
  display: block;
  position: absolute;
  left: 0;
  bottom: 2rem;
  z-index: 98;
}

.tip:hover:before {
  content: "";
  border: solid;
  border-color: #666666 transparent;
  border-width: 0.5rem 0.5rem 0 0.5rem;
  /* 6px 6px 0 6px */
  opacity: 0.9;
  display: block;
  left: 1rem;
  bottom: 1.5rem;
  position: absolute;
  z-index: 99;
}

.js-nav-toggle {
  display: none;
  float: right;
  color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: .5rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.margin-bottom-sm {
  margin-bottom: 2rem;
}

summary {
  outline: none;
  margin-bottom: 1rem;
  cursor: pointer;
}

.l-33 {
  width: 33%;
  padding-right: 4%;
  float: left;
}
